


body
{background-image:url("spookynight.jpg");
 background-repeat:no-repeat;
}


.night{
    font-family:serif, "Time New Roman";
    color: white;
    font-size: 50px;
text-align: center;
    vertical-align: super;    

}

p.boxy{
    font-size: 20x;
    background-color: aqua;
    border-style: dashed;
    border-color: black;
    border-width: 20px;
    border-radius: 10px;
}
p.takis{
    font-size: 20x;
    background-color: black;
    border-style: dashed;
    border-color: red;
    border-width: 10px;
    border-radius: 10px;
}
    
}

header.{
    
}

button{
    width: 400px;
    height: 120px;
    margin: 20px;
    transition: background-color black 0s ease;

}
button:hover{
        background-image:url("https://i.imgur.com/he7BPwf.jpeg");
        background-size: 420px;
      width: 400px;
      height: 250px;
      border: solid 2px black;
      background-repeat: no-repeat;
    }

