


body
{background-image:url("spookynight.jpg");
 background-repeat:no-repeat;
}


.night{
    font-family:serif, "Time New Roman";
    color: navy;
    font-size: 50px;
text-align: center;
    vertical-align: super;    

}

p.boxy{
    font-size: 20x;
    background-color: aqua;
    border-style: dashed;
    border-color: black;
    border-width: 20px;
    border-radius: 10px;
}
p.takis{
    font-size: 20x;
    background-color: black;
    border-style: dashed;
    border-color: red;
    border-width: 30px;
    border-radius: 20px;
}
    
}

header.{
    
}

button{
    width: 400px;
    height: 120px;
    margin: 20px;
    transition: background-color black 0s ease;

}
button:hover{
    background-image:url("https://i.imgur.com/he7BPwf.jpeg");
    width: 150px;
    height: 200px;
}
